@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}
<div class="identity">
    <div class="identity-main">
        <h1>Пожалуйста проверьте вашу почту для подтверждения регистрации.</h1>
    </div>
</div>
